<svg
  width="36"
  height="36"
  viewBox="0 0 36 36"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <rect
    x="0.5"
    y="0.5"
    width="35"
    height="35"
    rx="17.5"
    fill="url(#pattern0_4_1138)"
    stroke="#453025"
  />
  <defs>
    <pattern
      id="pattern0_4_1138"
      patternContentUnits="objectBoundingBox"
      width="0.944444"
      height="0.944444"
    >
      <use xlink:href="#image0_4_1138" transform="scale(0.0138889)" />
    </pattern>
    <image
      id="image0_4_1138"
      width="68"
      height="68"
      preserveAspectRatio="none"
      xlink:href="data:image/jpeg;base64,/9j/2wBDAAgICAgJCAkKCgkNDgwODRMREBARExwUFhQWFBwrGx8bGx8bKyYuJSMlLiZENS8vNUROQj5CTl9VVV93cXecnNH/2wBDAQgICAgJCAkKCgkNDgwODRMREBARExwUFhQWFBwrGx8bGx8bKyYuJSMlLiZENS8vNUROQj5CTl9VVV93cXecnNH/wgARCABEAEQDASIAAhEBAxEB/8QAGwABAAIDAQEAAAAAAAAAAAAAAAEGAwQFAgf/xAAZAQEAAwEBAAAAAAAAAAAAAAAAAQIDBQT/2gAMAwEAAhADEAAAAPog4XdAAABIIHCtXsZafcLVDPQABW7NafV46HvW7n7ZcQc/ogESTn1012fGFIK2hJIIAgJkIBP/xAAqEAACAQMCBAQHAAAAAAAAAAABAgMEBREAEhMhMUEgMEChBhRSU2KRkv/aAAgBAQABPwD00c8EpYRzRvjrtYNj9eRf0mqKWCghl4b1tQsO7phObN7DVdYKexzW250EbU6RGKKpRnzvWQ7f68i82O9Xi42xKXMFLAeM1Sez/iO518UWCvvFAiUM4EsU3H2NyWRtRipEMRqYGhmZAXQ4OG79PEi73RfqYDS7eajoMAaVVBbA751cVDQb+6P7HxKzKwZTgg5GhV1IJIlOT1185VfdOmqJ3Qo0hKnqPTf/xAAiEQACAQMCBwAAAAAAAAAAAAABAhEAAyAEEiMwMVFSYZH/2gAIAQIBAT8AyVdzAVcQIRBkHDSpLFu1XrXC9rJwDMOjEVvfzb7yP//EACMRAAIBAgQHAAAAAAAAAAAAAAECAwAREhMgQgQwMWFxkcH/2gAIAQMBAT8A1M2FS1RSFwbixGji5MKBBu+VDOc7s9hoKq3VQfIrLjGxfXI//9k="
    />
  </defs>
</svg>
