.hero {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: center;
}

.hero__badge {
  display: flex;
  padding: 0.25rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  border-radius: 24px;
  font-size: 0.875rem;
  border: 1px solid rgba(236, 91, 19, 0.2);
  background: rgba(236, 91, 19, 0.1);
  box-shadow: 0 1px 3px 0 rgba(236, 91, 19, 0.2);
  color: var(--primary);
  font-weight: bold;
  text-transform: uppercase;
}

.hero__badge::before {
  content: "";
  display: block;
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 100%;
  background-color: var(--primary);
}

.hero__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero__title p {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary);
}

.hero__title p:first-child {
  color: #fff;
}

.hero__desc {
  color: var(--muted-foreground);
  font-size: 18px;
  white-space: wrap;
}

@media (max-width: 930px) {
  .hero__badge {
    font-size: 0.675rem;
  }
}
