.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: var(--nav-foreground);
  background-color: var(--bg-dark);
  border-bottom: 1px solid #453025;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  left: 0;
}

.nav__logo {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
  color: var(--primary);
}

.nav__logo h1 {
  font-size: 1.5rem;
  color: #fff;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1rem;
}

.nav__items a {
  color: var(--nav-foreground);
  font-weight: medium;
  text-decoration: none;
}

.nav__items a:hover {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.nav__user {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  cursor: pointer;
}

#navOpenBtn {
  width: 24px;
  height: 24px;
  color: var(--primary);
}

#navOpenBtn:hover {
  opacity: 0.48;
  cursor: pointer;
}

.mobile-only {
  display: none;
}

@media (max-width: 930px) {
  .nav__items {
    display: none;
  }

  .nav__user {
    display: none;
  }

  .mobile-only {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__logo h1 {
    font-size: 1rem;
    color: #fff;
  }

  .nav__logo svg {
    width: 24px;
    height: 24px;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.sidebar {
  width: 75vw;
  height: 100vh;
  background-color: #221610;
  opacity: 0.98;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid #453025;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar__logo {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
  color: var(--primary);
  border-bottom: 1px solid #453025;
  padding: 0.5rem;
}

.sidebar__logo h1 {
  font-size: 1.5rem;
  color: #fff;
}

.sidebar__items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0rem 0.5rem;
}

.sidebar__items a {
  color: var(--nav-foreground);
  font-weight: medium;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  border: 2px solid #453025;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  padding: 0.5rem;
}

.sidebar__items a:hover {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #221610;
  border: 1px solid #453025;
  padding: 0.5rem;
  border-radius: 14px;
  top: 100%;
  right: 0;
}

.dropdown a {
  padding: 0.5rem 0.25rem;
  font-size: 0.875rem;
  color: var(--nav-foreground);
  text-decoration: none;
  font-weight: medium;
}

.dropdown a:hover {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.dropdown--hidden {
  display: none;
}

.sidebar__user {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.sidebar__user a {
  color: var(--nav-foreground);
  font-weight: medium;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  border: 2px solid #453025;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  padding: 0.5rem;
}

.sidebar__user a:hover {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
