<link rel="stylesheet" href="/public/styles/nav.css" />

<nav class="nav" id="navbar">
  <div class="nav__logo">
    <?php include __DIR__ . '/icons/cog.html'; ?>
    <h1>TERRA & CRAFT</h1>
  </div>
  <div class="nav__items">
    <a href="/gallery">Gallery</a>
    <a href="/order">Custom Order Wizard</a>
    <?php if (!empty($_SESSION['is_logged_in'])): ?>
    <a href="/dashboard">My Account</a>
    <?php endif; ?>
  </div>
  <?php if (!empty($_SESSION['is_logged_in'])): ?>
  <div class="nav__user">
    <div id="user-dropdown-toggle">
      <?php include __DIR__ . '/icons/user.html'; ?>
    </div>
    <div class="dropdown dropdown--hidden">
      <span class="dropdown__email"><?= htmlspecialchars($_SESSION['user_email'] ?? '') ?></span>
      <?php if (!empty($_SESSION['is_admin'])): ?>
      <a class="dropdown__item" href="/admin/orders">Admin Panel</a>
      <?php endif; ?>
      <form method="POST" action="/logout">
        <button class="dropdown__item">Log Out</button>
      </form>
    </div>
  </div>
  <?php endif; ?>

  <div class="mobile-only">
    <div id="navOpenBtn">
      <svg
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
      >
        <path
          d="m12.002 2c5.518 0 9.998 4.48 9.998 9.998 0 5.517-4.48 9.997-9.998 9.997-5.517 0-9.997-4.48-9.997-9.997 0-5.518 4.48-9.998 9.997-9.998zm2.498 9.995c0-.69.56-1.25 1.25-1.25s1.25.56 1.25 1.25-.56 1.25-1.25 1.25-1.25-.56-1.25-1.25zm-3.75 0c0-.69.56-1.25 1.25-1.25s1.25.56 1.25 1.25-.56 1.25-1.25 1.25-1.25-.56-1.25-1.25zm-3.75 0c0-.69.56-1.25 1.25-1.25s1.25.56 1.25 1.25-.56 1.25-1.25 1.25-1.25-.56-1.25-1.25z"
        />
      </svg>
    </div>
  </div>
</nav>

<aside class="sidebar hidden" id="sidebar">
  <div class="sidebar__top">
    <div class="sidebar__logo">
      <?php include __DIR__ . '/icons/cog.html'; ?>
      <h1>TERRA & CRAFT</h1>
    </div>

    <div class="sidebar__items">
      <a class="sidebar__item" href="/gallery">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path
            d="M5 5h-3v-1h3v1zm8 5c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3zm11-4v15h-24v-15h5.93c.669 0 1.293-.334 1.664-.891l1.406-2.109h8l1.406 2.109c.371.557.995.891 1.664.891h3.93zm-19 4c0-.552-.447-1-1-1-.553 0-1 .448-1 1s.447 1 1 1c.553 0 1-.448 1-1zm13 3c0-2.761-2.239-5-5-5s-5 2.239-5 5 2.239 5 5 5 5-2.239 5-5z"
          />
        </svg>
        Gallery
      </a>
      <a class="sidebar__item" href="/order">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path
            d="M15.544 22h-13.544v-22h8.189c3.163 0 9.811 7.223 9.811 9.614v7.904l-2-2.003v-5.059c0-4.106-6-2.456-6-2.456s1.518-6-2.638-6h-5.362v18h9.542l2.002 2zm6.456.351l-1.625 1.649-12.162-12.152 1.65-1.649 12.137 12.152zm-10.074-9.266l-2.062-2.062-.824.824 2.06 2.063.826-.825zm1.684-4.085c.22.719.782 1.281 1.501 1.501-.719.219-1.281.782-1.501 1.501-.219-.719-.782-1.282-1.501-1.501.719-.22 1.283-.782 1.501-1.501zm-2.629 7.548c-.954.291-1.7 1.037-1.991 1.99-.291-.953-1.037-1.699-1.99-1.99.953-.291 1.699-1.037 1.99-1.99.291.953 1.037 1.699 1.991 1.99zm4.642-4.899c.157.509.555.906 1.062 1.062-.508.155-.906.552-1.062 1.062-.154-.509-.552-.906-1.06-1.062.507-.155.906-.553 1.06-1.062z"
          />
        </svg>
        Custom Order Wizard
      </a>
      <?php if (!empty($_SESSION['is_logged_in'])): ?>
      <a class="sidebar__item" href="/dashboard">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z"/>
        </svg>
        My Account
      </a>
      <?php endif; ?>
    </div>
  </div>
  <?php if (!empty($_SESSION['is_logged_in'])): ?>
  <div class="sidebar__user">
    <?php if (!empty($_SESSION['is_admin'])): ?>
    <a class="sidebar__item" href="/admin/orders">
      <svg
        width="16"
        height="16"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        clip-rule="evenodd"
        fill="currentColor"
      >
        <path
          d="M12.804 9c1.038-1.793 2.977-3 5.196-3 3.311 0 6 2.689 6 6s-2.689 6-6 6c-2.219 0-4.158-1.207-5.196-3h-3.804l-1.506-1.503-1.494 1.503-1.48-1.503-1.52 1.503-3-3.032 2.53-2.968h10.274zm7.696 1.5c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5z"
        />
      </svg>
      Admin Panel
    </a>
    <?php endif; ?>
    <form method="POST" action="/logout">
      <button type="submit" class="sidebar__item">
        <svg
          width="16"
          height="16"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="currentColor"
        >
          <path
            d="M16 2v7h-2v-5h-12v16h12v-5h2v7h-16v-20h16zm2 9v-4l6 5-6 5v-4h-10v-2h10z"
          />
        </svg>
        Log Out
      </button>
    </form>
  </div>
  <?php endif; ?>
</aside>

<script src="/public/scripts/nav.js"></script>
